.cart{
    .empty{
        color: #f54749;
        margin-top: 30px;
        text-align: center;
        font-weight: 400;
        font-size: 18px;
    }
    .items{
        display: flex;
        flex-direction: column;
        gap: 15px;
        
        .item {
            padding: 10px;
            border-radius: 10px;
            display: flex;
            box-shadow: 0 0 10px #dadada;

            .img{
                height: 60px;
                margin-right: 10px;
                img{
                    height: 100%;
                    border-radius: 10px;
                }
            }

            .content{
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                h4{
                    font-weight: 500;
                }

                h3{
                    font-weight: 600;
                }
            }

            .quantity {
                display: flex;
                margin-left: auto;
                gap: 10px;
                align-items: center;

                .control {
                    color: #f54749;
                    border: 2px solid #f54749;
                    height: 20px;
                    width: 20px;
                    display: flex;
                    justify-content: center;
                    border-radius: 5px;
                    transition: 0.1s;
                    user-select: none;
                    cursor: pointer;

                    &:active{
                        background-color: #f54749;
                        color: #fff;
                    }
                }

                p{
                    font-weight: 500;
                    font-size: 18px;
                }
            }
        }
    }

    .total {
        margin-top: 10px;
        border-radius: 10px;

        .texts {
            display: flex;
            gap: 10px;
            margin-bottom: 10px;

            .price{
                color: #f54749;
            }
        }

        button {
            background-color: #f54749;
            color: #fff;
            outline: none;
            border: none;
            padding: 5px 10px;
            border-radius: 10px;
            font-size: 24px;
            cursor: pointer;

            &:disabled{
                background-color: #dc6668;
            }
        }
    }
}